.container{
    /* position:absolute; */
}

.hidden-book-form{
    display: none;
}

.visible-book-form{
    display:inherit;
}

form{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:45%;
}

.input{
    display:flex;
    flex-flow: column nowrap;

    /* justify-content: center; */
    align-items: center;
    gap:5px;
}

.input input{
    margin-bottom:15px;
}

.underline{
    border-bottom: 1px solid black;
}

.books{
    display:flex;
    flex-flow: row wrap;
}