

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}


.hidden-book-form{
    display: none;
}

.visible-book-form{
    display:inherit;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    position: absolute;
    top:30%;
    
}

.input{
    display:flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
    gap:5px;
}

.input input{
    margin-bottom:15px;
}

.title-x{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.title{
    grid-area: 1/2/1/2;
    text-align: center;
}

.x{
    grid-area: 1/3/1/4;
    text-align: end;
}


.underline{
    border-bottom: 1px solid black;
}

.books{
    display:flex;
    flex-flow: row wrap;
}